<div id="cartWrapper">
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<div id="checkoutWrapper">
				<div class="ta-block-wrapper cart">
					<div class="ta-block-title">
						<h5>Cart</h5>
					</div>
					<div class="ta-block-body">
						<table class="table table-ta">
							<thead>
								<tr>
									<th>Image</th>
									<th>IBC Part Number</th>
									<th>Product</th>
									<th>Quantity</th>
									<th>Price</th>
									<th>Total Price</th>
								</tr>
							</thead>
							<tbody>
								{{#each cart in model.cart}}
								<tr>
									<td><img src="{{cart.product_image}}" width="15%;"></td>
									<td>{{cart.ibc_part_number}}</td>
									<td>{{upper-case cart.product_name}}</td>
									<td>{{cart.quantity}}</td>
									<td><p class="price-display">${{cart.price}}</p></td>
									<td><p class="price-display">${{cart.total_price}}</p></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						<div class="checkout-info-total">
							<div class="row">
								<div class="col-md-4 col-md-offset-8">
									<div class="checkout-ind-total">
										<h6>Container Total</h6>
									</div>
									<div class="checkout-ind-total">
										<div class="row">
											<div class="col-md-6 ">
												<h6>Container Subtotal</h6>
											</div>
											<div class="col-md-6 ">
												<h6>${{total_price}}</h6>
											</div>
										</div>
									</div>
									<div class="checkout-ind-total">
										<div class="row">
											<div class="col-md-6 ">
												<h6>Freight/Insurance</h6>
											</div>
											<div class="col-md-6 ">
												<h6>$0.00</h6>
											</div>
										</div>
									</div>
									<div class="checkout-ind-total">
										<div class="row">
											<div class="col-md-6 ">
												<h6>Container Total</h6>
											</div>
											<div class="col-md-6 ">
												<h6>${{total_price}}</h6>
											</div>
										</div>
									</div>
									<div class="checkout-total-button">
										<form {{action 'placeOrder' on="submit"}}>
											<button class="btn btn-primary place-order-btn">Place Order</button>
										</form>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="ta-block-wrapper shipping-container">
					<div class="ta-block-title">
						<h5>Shipping Options</h5>
					</div>
					<div class="ta-block-body">
						{{#each container in model.shipping_container}}
							<div class="cart-shipping-container-option">
								<div class="row">
									<div class="col-sm-5">
										<img src="{{container.image_src}}">
									</div>
									<div class="col-sm-7">
										<h5>{{container.name}}</h5>
										<h6>{{capacity-left container.capacity cubic_feet}} left to fill</h6>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>