<div id="orderWrapper">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="ta-block-wrapper order">
				<div class="ta-block-title">
					<h5>Order {{model.order_number}}</h5>
				</div>
				<div class="ta-block-body">
					<table class="table table-ta table-ta-hover">
						<thead>
							<tr>
								<th>Product Name</th>
								<th>Weight</th>
								<th>Cubic Feet</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							{{#each model.order_details as |order|}}
								<tr>
									<td>{{order.product_name}} {{order.option}}</td>
									<td>{{order.weight}}</td>
									<td>{{order.cubic_feet}}</td>
									<td>{{order.quantity}}</td>
									<td><p class="price-display">${{order.price}}</p></td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="ta-block-wrapper comments">
				<div class="ta-block-title">
					<h5>Comments</h5>
				</div>
				<div class="ta-block-body">
					<div class="row">
							<div class="col-sm-12">
								<div class="dash-single-news">
				                    <p>Check out all the new products we have uploaded!</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>A new comment was left on order number 6560.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Cu mei percipit reprehendunt. Tale
				                       justo regione no qui. Cu mei percipit reprehendunt.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Cu mei percipit reprehendunt. Tale
				                       justo regione no qui. Cu mei percipit reprehendunt.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Cu mei percipit reprehendunt. Tale
				                       justo regione no qui. Cu mei percipit reprehendunt.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Cu mei percipit reprehendunt. Tale
				                       justo regione no qui. Cu mei percipit reprehendunt.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Cu mei percipit reprehendunt. Tale
				                       justo regione no qui. Cu mei percipit reprehendunt.</p>
				                </div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
